body, html {
    text-align: center;
    padding-top: 35px;    
    line-height: 35px;
    background-color: #2E87A7;
    font-family: 'Mali', cursive;
    font-size: 40px;
}

#container {
    margin-top: 80px;
}

.gameResult {
    font-size: 45px;
    padding-top: 50px;
}

.score {
    font-size: 25px;
    padding-top: 30px;
}

.winner {
    font-size: 50px;
    margin-top: 70px;
}

#rock, 
#paper, 
#scissors, 
.restartButton {
    border: none;
    border-radius: 4px;
    margin: 25px;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgb(50, 74, 90);
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#rock:active, 
#paper:active, 
#scissors:active,
.restartButton:active {
    box-shadow: 0 0 5px #666;
    transform: translateY(2px);
  }

#rock {
    background-image: url(rock.png);
    background-position: center;
    width: 205px;
    height: 205px;
    border-radius: 50%;
}

#paper {
    background-image: url(paper.png);
    background-position: center;
    width: 205px;
    height: 205px;
    border-radius: 50%;
}

#scissors {
    background-image: url(scissors.png);
    background-position: center;
    width: 205px;
    height: 205px;
    border-radius: 50%;
}

.restartButton {
    font-family: 'Mali', cursive;
    color: white;
    background-color: #5459A1;
    border: thin solid #1C1B50;
    font-size: 20px;
    width: 220px;
    height: 50px;
    margin-top: 100px;
}
